.generic-node {
    background: #242424;
    border: 1px solid #555;
    border-radius: 8px;
    color: white;

    min-width: 170px;
    min-height: 90px;

    position: relative;

    display: flex;
    flex-direction: column;

    overflow: visible;

    box-shadow: 0 3px 10px rgba(0,0,0,.35);
}

.generic-node:hover {
    border-color: #888;
}


.node-body {
    flex: 1;

    display: flex;

    justify-content: space-between;

    padding: 10px 0;
}

.node-title {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}