.editor {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}

.react-flow {
    --xy-background-color: #252525;
    --xy-node-background-color: #333333;
    --xy-node-color: #eeeeee;
    --xy-node-border: #555555;

    --xy-edge-stroke: #888888;
    --xy-handle-background-color: #aaaaaa;
}

.menu-section {
    width: 15vw;
    height: 92vh;
    background-color: #353535;
    float: right;
}

.project-menu {
    width: 100%;
    height: 8vh;
    background-color: #303030;
    margin: 0;
    color: white;
    display: flex;

}

.project-menu-inner {
    padding-bottom: 10px;
    padding-left: 20px;
    height: 100%;
}

.project-menu input {

    font-size: 125%;
    background: transparent;
    border: none;
    outline: none;

    

    border-bottom: 2px solid #656565;
    

    color: white;

    padding: 8px 0;
    width: 15vw;
    padding-bottom: 2px;
    

    transition: border-color 0.3s ease, transform 0.2s ease;
}


.project-menu input:hover {
    border-bottom-color: #888888;
    transform: translateY(-1px);
}


.project-menu input:focus {
    border-bottom-color: #a5a5a5;
    transform: translateY(0);
}

.project-menu-button-div {
    margin-top: 4px;
    display: flex;

}


.project-menu-button {
    background-color: #303030;
    color: #ffffff;
    border: none;
    outline: none;
    text-decoration: none;
    
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.2s ease;
}

.project-menu-button:hover {
    background-color: #454545;
}

.project-menu-button:active {
    background-color: #585858;
}