.editor {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
}

.react-flow {
    --xy-background-color: #252525;
    --xy-node-background-color: #333333;
    --xy-node-color: #eeeeee;
    --xy-node-border: #555555;

    --xy-edge-stroke: #888888;
    --xy-handle-background-color: #aaaaaa;
}

.menu-section {
    background-color: #353535;
    height: 100%;
}

.project-menu {
    background-color: #303030;
    margin: 0;
    color: white;
    display: flex;
    width: 100%;
    align-items: stretch;

}



.project-menu-inner {
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    padding: 8px;
}

.logo img {
    height: 56px;      /* or 56px */
    width: auto;
    display: block;
}
.project-menu input {

    font-size: 125%;
    background: transparent;
    border: none;
    outline: none;

    

    border-bottom: 2px solid #656565;
    

    color: white;

    padding: 8px 0;
    width: 15vw;
    padding-bottom: 2px;
    

    transition: border-color 0.3s ease, transform 0.2s ease;
}


.project-menu input:hover {
    border-bottom-color: #888888;
    transform: translateY(-1px);
}


.project-menu input:focus {
    border-bottom-color: #a5a5a5;
    transform: translateY(0);
}

.project-menu-button-div {
    margin-top: 4px;
    display: flex;

}


.project-menu-button {
    background-color: #303030;
    color: #ffffff;
    border: none;
    outline: none;
    text-decoration: none;
    
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    
    transition: background-color 0.2s ease;
}

.project-menu-button:hover {
    background-color: #454545;
}

.project-menu-button:active {
    background-color: #585858;
}

main {
    flex: 1;
    display: flex;
    min-height: 0;
}

.canvas {
    flex: 1;
}

.menu-section {
    width: 15vw;
    background: #353535;
}